---
- name: Ensure Docker network for Kafka exists
  community.docker.docker_network:
    name: "{{ kafka_network_name }}"

- name: Run Zookeeper container
  community.docker.docker_container:
    name: "{{ zookeeper_container_name }}"
    image: "{{ kafka_zookeeper_image }}"
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ kafka_network_name }}"
    env:
      ZOOKEEPER_CLIENT_PORT: "2181"
      ZOOKEEPER_TICK_TIME: "2000"
    published_ports:
      - "2181:2181"

- name: Run Kafka broker container
  community.docker.docker_container:
    name: "{{ kafka_container_name }}"
    image: "{{ kafka_image }}"
    state: started
    restart_policy: unless-stopped
    networks:
      - name: "{{ kafka_network_name }}"
    env:
      KAFKA_BROKER_ID: "1"
      KAFKA_ZOOKEEPER_CONNECT: "{{ zookeeper_container_name }}:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    published_ports:
      - "9092:9092"

